@tailwind base;
@tailwind components;
@tailwind utilities;

.input{width:100%;border-radius:1rem;border:1px solid rgb(226 232 240);padding:.8rem .9rem;outline:none;background:white}
.textarea{width:100%;border-radius:1rem;border:1px solid rgb(226 232 240);padding:.8rem .9rem;outline:none;min-height:110px;resize:vertical;background:white}
.input:focus,.textarea:focus{box-shadow:0 0 0 3px rgb(186 230 253)}
@media print{.no-print{display:none!important}body{background:white}.print-card{box-shadow:none!important;border:0!important;border-radius:0!important}main{padding:0!important;max-width:none!important}}
